body{
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-image: url("https://source.unsplash.com/1600x900/?currency");
  background: cover no-repeat;
}
.App{
  background-color: azure;
  border-radius: 20px;
  margin: 0;
  padding: 30px;
}

h1{
  margin:0;
  margin-bottom: .5rem;
}
.input{
  border:3px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}
select{
  margin-left: .5rem;
  border:3px solid #333;
}
.equals{
  font-weight:bold;
  font-size: 2rem;
}